{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}

    <section class="vh-100" style="background-color: #eee;">
        <div class="container-fluid h-100">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="card border-primary mb-5" style="max-width: 30rem;">
                            <div class="card-body p-md-5">
                                <h5 class="card-title">Lines</h5>
                                <div class="row justify-content-center">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active"
                                           aria-current="true">
                                            The current link item
                                        </a>
                                        <a href="" class="list-group-item list-group-item-action">57</a>
                                        <a href="#" class="list-group-item list-group-item-action">86/a>
                                            <a href="#" class="list-group-item list-group-item-action">53</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="card border-primary mb-5" style="max-width: 30rem;">
                            <div class="card-body p-md-5">
                                <h5 class="card-title">Stops</h5>
                                <div class="row justify-content-center">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active"
                                           aria-current="true">
                                            ZAGAJNIKOWA - INFLANCKA
                                        </a>
                                        <a href="" class="list-group-item list-group-item-action">ZAGAJNIKOWA -
                                            INFLANCKA</a>
                                        <a href="#" class="list-group-item list-group-item-action">ZAGAJNIKOWA -
                                            INFLANCKA </a>
                                        <a href="#" class="list-group-item list-group-item-action">ZAGAJNIKOWA -
                                            INFLANCKA</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="card border-primary mb-5" style="max-width: 30rem;">
                            <div class="card-body p-md-5">
                                <h5 class="card-title">Timetable</h5>
                                <div class="row justify-content-center">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active"
                                           aria-current="true">
                                            15:10
                                        </a>
                                        <a href="" class="list-group-item list-group-item-action">15:25</a>
                                        <a href="#" class="list-group-item list-group-item-action">15:30</a>
                                        <a href="#" class="list-group-item list-group-item-action">16:45</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}