{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}

    <section class="vh-100" style="background-color: #eee;">
        <div class="container-fluid h-100">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="card border-primary mb-5" style="max-width: 30rem;">
                            <div class="card-body p-md-5">
                                <h5 class="card-title">Lines</h5>
                                <div class="row justify-content-center">
                                    <div class="list-group">
                                        {% for route in routes %}
                                            <a href="/browse-lines/{{ routes[route] }}"

                                                    {% if current_route and current_route == routes[route] %}
                                               class="list-group-item list-group-item-action active" aria-current="true"
                                                    {% else %}
                                               class="list-group-item list-group-item-action" aria-current="true"
                                                    {% endif %}
                                            >
                                                {{ route }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="card border-primary mb-5" style="max-width: 30rem;">
                            <div class="card-body p-md-5">
                                <h5 class="card-title">Stops</h5>
                                <div class="row justify-content-center">
                                    <div class="list-group">

                                        {% for stop in stops %}
                                            <a href="/browse-lines/{{ current_route }}/{{ stop.id }}"

                                                    {% if current_stop and current_stop == stops[stop] %}
                                               class="list-group-item list-group-item-action active" aria-current="true"
                                                    {% else %}
                                               class="list-group-item list-group-item-action" aria-current="true"
                                                    {% endif %}
                                            >
                                                {{ stop }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="card border-primary mb-5" style="max-width: 30rem;">
                            <div class="card-body p-md-5">
                                <h5 class="card-title">Timetable</h5>
                                <div class="row justify-content-center">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item list-group-item-action active"
                                           aria-current="true">
                                            15:10
                                        </a>
                                        <a href="" class="list-group-item list-group-item-action">15:25</a>
                                        <a href="#" class="list-group-item list-group-item-action">15:30</a>
                                        <a href="#" class="list-group-item list-group-item-action">16:45</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}