{% extends "base.html" %}

{% block title %}Bus Lines{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Add New Line</h5>
                <form action="add_line()" id="add_line_form" method="post">
                    <div class="form-group">
                        <label for="line-name">Bus Line Name</label>
                        <input type="text" class="form-control" id="line-name" name="line_name"
                               placeholder="Enter bus line name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Line</button>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Search Bus Lines</h5>
                <div class="form-group">
        <input type="text" id="search-input" class="form-control" placeholder="Search by bus line name" onkeyup="filterTable()">
                </div>

                <table id="bus-lines-table" class="table table-striped mt-4">
                    <thead>
                    <tr>
                        <th>Bus Line</th>
                        <th>Stop Count</th>
                        <th>Transits Count</th>
                        <th>Combined Time</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for line in bus_lines %}
                        <tr>
                            <td>{{ line.name }}</td>
                            <td>{{ line.stop_count }}</td>
                            <td>{{ line.transits_count }}</td>
                            <td>{{ line.combined_time }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a href="/edit-line/{{ line.id }}" class="btn btn-primary">Edit stops</a>
                                    <a href="/edit-line-transits/{{ line.id }}" class="btn btn-primary">Edit
                                        transits</a>
                                    <button class="btn btn-danger" onclick="deleteLine('{{ line.id }}')">Delete</button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        // Handle form submission using AJAX
        document.getElementById("add_line_form").addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent the default form submission

            // Create an object to store the form data
            var formData = {
                name: document.getElementById("line-name").value,
            };

            // Make the AJAX POST request to the API endpoint
            fetch("/api/line-add", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response data as needed
                console.log(data);// Refresh the page by setting the URL to itself
            location.reload();

                // Optionally, perform additional actions such as updating the table or displaying a success message
            })
            .catch(error => {
                // Handle any errors that occur during the AJAX request
                console.error("Error:", error);

                // Optionally, display an error message to the user
            });
        });



    </script>
    <script>
  function filterTable() {
    const input = document.getElementById('search-input');
    const filter = input.value.toUpperCase();
    const table = document.getElementById('bus-lines-table');
    const rows = table.getElementsByTagName('tr');

    var xhr = new XMLHttpRequest();
    xhr.open('GET', 'api/lines-search?search=' + encodeURIComponent(filter), true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        var searchResults = JSON.parse(xhr.responseText);
        // Update the table with the search results
        updateTable(searchResults);
      }
    };
    xhr.send();


   function updateTable(searchResults) {
    var tbody = document.getElementById('bus-lines-table').getElementsByTagName('tbody')[0];
    tbody.innerHTML = '';

    searchResults.forEach(function(result) {
      var row = document.createElement('tr');
      row.innerHTML = '<td>' + result.name + '</td>' +
                       '<td>' + result.stop_count + '</td>' +
                      '<td>' + result.transits_count + '</td>' +
                      '<td>' + result.combined_time + '</td>' +
                      '<td><div class="btn-group" role="group" aria-label="Basic example"><a href="/edit-line/'+result.id+'" class="btn btn-primary">Edit stops</a><a href="/edit-line-transits/'+result.id+'" class="btn btn-primary">Edit transits</a>  <button class="btn btn-danger" onclick="deleteLine("'+result.id+'")>Delete</button> </div></td>';
      tbody.appendChild(row);
    });
    }
    }

  function deleteLine(lineId) {
    // Call the API to delete the bus line using lineId
                // Make the AJAX POST request to the API endpoint
            fetch("/api/bus-line/"+lineId, {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json"
                },
            })
            .then(response => response.json())
            .then(data => {
                // Handle the response data as needed
                console.log(data);// Refresh the page by setting the URL to itself
            location.reload();

                // Optionally, perform additional actions such as updating the table or displaying a success message
            })
            .catch(error => {
                // Handle any errors that occur during the AJAX request
                console.error("Error:", error);

                // Optionally, display an error message to the user
            });
    // Refresh the table after successful deletion
    location.reload();
  }
    </script>
{% endblock %}
